.background-highlight {
    background-color: #FCF6F5;
    color: #41404D !important;
}

.folder {
    color: #85858E;
    font-weight: 700;
    cursor: pointer;
    display: block;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .label {
        mat-icon {
            vertical-align: middle;
        }

        width: 100%;
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 24px;
    }

    .has-childs {
        width: calc(100% - 40px);
    }

}

.table-container {
    height: 400px;
    overflow: auto;

    table {
        width: 100%;
        // table-layout: fixed;

        th,
        td {
            overflow: hidden;
            // width: auto;
            text-overflow: ellipsis;
            white-space: nowrap;

            .file-icon {
                vertical-align: bottom;
            }
        }


        th.mat-header-cell:first-child,
        td.mat-cell:first-child {
            min-width: 50px;
            max-width: 50px;
            width: 50px;
        }

        th.mat-header-cell:nth-child(2),
        td.mat-cell:nth-child(2) {
            min-width: 150px;
            max-width: 150px;
        }

        th.mat-header-cell:nth-child(3),
        td.mat-cell:nth-child(3) {
            min-width: 75px;
            max-width: 75px;
        }

        th.mat-header-cell:nth-child(4),
        td.mat-cell:nth-child(4) {
            min-width: 75px;
            max-width: 75px;
        }

        th.mat-header-cell:last-child,
        td.mat-cell:last-child {
            text-overflow: unset !important;
            min-width: 50px;
            max-width: 50px;
            width: 50px;
        }

        .mat-header-row {
            height: 48px;

            .mat-header-cell {
                background-color: #F8F8F8;
                font-weight: bolder;
                vertical-align: middle;
            }
        }
    }
}


::ng-deep .e-splitter .e-split-bar.e-split-bar-horizontal .e-resize-handler {
    display: none;
}

::ng-deep .mat-checkbox .mat-checkbox-layout {
    margin-bottom: 0;
}